* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    font-size: 16px;
    padding: 2rem;
    background: black;
    color: white;
}

header {
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
}

.logo-and-nav-bar {
    display: flex;
    align-items: center;
}

.netflix-logo {
    width: 150px;
    margin-right: 3rem;
}

.nav-button {
    margin: 0 1rem;
    text-decoration: none;
    color: white;
}

.search-bar-and-profile {
    display: flex;
    width: 40vw;
    align-items: center;
    justify-content: right;
}

.search-bar {
    width: 500px;
    height: 3rem;
    border-radius: 40px;
    padding-left: 2rem;
}

.profile-pic {
    width: 4rem;
    margin-left: 4rem;
    border-radius: 50%;
}

p {
    margin: 1rem 0;
    font-size: 1.2rem;
}

.carousel {
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel-img {
    height: 200px;
    margin: 0 5px;
    border-radius: 5px;
}